
body {
    margin: 0;
    font-family: 'Roboto',
    sans-serif, "Averta CY";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-family: "Averta CY", Roboto, sans-serif;

}

/*@font-face {*/
/*  font-family: "Averta CY";*/
/*  src: local('AvertaDemoPE-ExtraBold.otf');*/
/*}*/



.fb_dialog {
    position: fixed !important;
    bottom: 23px !important;
    right: 10px !important;
    top: unset !important;
    transform: scale(0.7) !important;
   

}

@media only screen and (max-width: 992px) {
    .fb_dialog {
        transition: all 0.5s ease-out 0s;
    transform: scale(0.6) !important;
    display: block !important;
    position: fixed !important;
    bottom: 4px !important;
    right: -83px !important;
    left: 10px !important;
    top: unset !important;
    background: rgba(82, 82, 82, .7);
    overflow: visible !important;
    z-index: 10001;
    }
   
}

.fb_dialog_advanced {
    border-radius: 8px;
    padding: 10px;
}

.btn-close {
filter: brightness(0) invert(1) opacity(4);
}

.btn-close:hover {
    filter: brightness(0) invert(1) ;
}


.btn-close open {

    filter: brightness(0) invert(1) ;
}
