
body {
    margin: 0;
    font-family: 'Roboto',
    sans-serif, "Averta CY";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-family: "Averta CY", Roboto, sans-serif;

}

/*@font-face {*/
/*  font-family: "Averta CY";*/
/*  src: local('AvertaDemoPE-ExtraBold.otf');*/
/*}*/



.fb_dialog {
    position: fixed !important;
    bottom: 23px !important;
    right: 10px !important;
    top: unset !important;
    background: none !important;
    transform: scale(0.7) !important;
    overflow: visible !important;

}




.btn-close {
filter: brightness(0) invert(1) opacity(4);
}

.btn-close:hover {
    filter: brightness(0) invert(1) ;
}


.btn-close open {

    filter: brightness(0) invert(1) ;
}
