.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border:none;
    /*cursor: pointer;*/
    padding: 0;
    box-sizing: border-box;

}

.toggle-button:focus {
    outline: none;
}




.toggle.open {
    transform: scale(1);
}

/*button:not(:disabled) {*/
/*    cursor: pointer;*/
/*}*/

.toggle {
    width: 100%;
    z-index: 30;
    display: block;
    transform: scale(0);
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: fixed;
    inset: 0px;
}

.btn .btn-account {
    width: 20px;
    height: 22px;
    padding: 0px;
    z-index: 103;
    position: relative;



}

.btn .btn-account.open .line-one {

    margin-right: 0px;
    transform: rotate(
            45deg
    );
}


.btn .btn-account.open .line {
    background-color: rgb(255, 255, 255);
}


.btn .btn-account .line.line-one {
    transform-origin: left center;

}


.btn .btn-account .line {
    height: 2px;
    display: block;
    border-radius: 4px;
    transition: all 200ms ease-in-out 0s;
    background-color: rgb(136, 85, 241);
}

.btn .btn-account.open .line-two {
    margin: 5px 0px;
    transform: scale(0);
}

.btn .btn-account .line.line-two {
    /*margin: 3px 0px;*/
    transform-origin: left center;

}

.btn .btn-account.open .line-three {
    margin-left: 0px;
    transform: rotate(
            -45deg
    );
}

.btn .btn-account .line.line-three {
    transform-origin: left center;
}

.btn .account-sidebar.open {
    right: 0px;
}

.btn .account-sidebar {
    width: 88vw;
    z-index: 102;
    background-color: rgb(136, 85, 241);
    transition: all 200ms ease-in-out 0s;
    position: fixed;
    right: -90vw;
    bottom: 0px;
    top: 0px;
}


.btn .body {
    height: calc(100vh - 50px);
    overflow: scroll;
    cursor: auto;
}

button, input, select, textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-size: 1em;
    margin: 0;
}

.line.line-two, .line.line-three {
    margin-top: 3px;
}

.btn .account-sidebar header {
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    background-color: rgb(136, 85, 241);
    cursor:auto;
}

.sidebar {
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: rgb(255, 255, 255);

}

.sidebar li {
    display: flex;
    padding: 12px 30px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    background-color: rgb(136, 85, 241);
    position: relative;
}

.canvas {
    border-radius: inherit;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    cursor:auto;
}

.list-menus {
    position: relative;
    display: inline-block;
    padding: 15px 70px;

    color: #AC88F5;

    background-image: linear-gradient(#AC88F5, #AC88F5);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: color 0.4s ease-in-out;

}

.list-menus:active {
    background-size: 100% 100%;
    opacity: 0.8;
    transition: all 0.4s ease;
}

.btn form {
    padding: 15px 27px;
}



.btn form .form-control {
    height: 40px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.form .form-control {
    padding-left: 20px;
    margin-bottom: 20px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/*[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {*/
/*    cursor: none;*/
/*}*/

.form button {
    display: block;
    width: 100%;
    padding: 14px 30px;
    border-radius: 8px;
    text-align: center;
    background: linear-gradient(
            95.41deg
            , rgb(131, 38, 226) 34.67%, rgb(82, 6, 225) 148.46%);
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 16px;
    transition: all 0.2s ease-in-out 0s;
}

.form button span {
    color: rgb(255, 255, 255);
    font-family: "Averta CY", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.form .form-control:last-of-type {
    margin-bottom: 50px;
}

.btn .account-sidebar .body .footer-copyright {
    width: 80%;
    padding: 10px 0px;
    display: block;
    margin: auto;
}

.btn .account-sidebar .body .footer-copyright p{
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 11px;
    text-align: center;
}

@media (max-width: 750px) {
    .form form button {
        border-radius: 16px;
        padding: 9px 16px;
        background: rgb(2, 212, 228);
    }

    .form form button span {
   font-size: 15px;
    }
}
